# Dependencies
node_modules/
.expo/

# Build outputs
dist/
build/
.turbo/

# Environment files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.vercel
